<!DOCTYPE html>
	<script src="https://use.typekit.net/bkt6ydm.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
	
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		
		        	<li><a href="#ABOUT">about</a></li>
				<li><a href="#RESEARCH">research</a></li>
				<li><a href="#TEACHING">teaching</a></li>
				<li><a href="#AWARDS">volunteering & awards</a></li>
				<li><a href="/Navina Mahesh - resume.pdf"target="_blank">resume</a>
				<li><a href = "An Analysis of Academic and Social Experiences of Transfer Students in Computer Science.pdf"target="_blank">publications</a>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<a style="float:right" href="/website/index.html">How I built this Website</a>
			</footer>
		</body>
	</html>
